.player {
  position: relative;
  background-color: rgba(199, 199, 199, 0.318);
  height: 1.5rem;
  border-radius: 0.75rem;
}

.player > button {
  position: absolute;
  background-color: #000;
  color: #fff;
  border: 1px solid #aaa;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.player > button:focus {
  border: 1px solid #fff;
}

.player svg[data-icon=play] {
  padding-left: 2px;
}