#profilePicture, #profilePicture img {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  margin: 40px auto 20px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}