ul.socials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul.socials  a {
  margin: 0 0.75rem;
}

.link {
  position: relative;
  background-color: transparent;
  color: var(--accentColor);
  border: solid var(--accentColor) 0.1rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0.4rem;
  text-decoration: none;
  /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}

.link p {
  text-align: center;
  flex-grow: 1;
  margin:0;
}

@media (hover: hover) {
  .link:hover, .link:hover p {
      background-color: var(--accentColor);
      color: var(--bgColor);
  }
}

.link:active, .link:active p {
  background-color: var(--accentColor);
  color: var(--bgColor);
}