

nav {
  display: flex;
  box-sizing: border-box;
  max-width: 675px;
  width: auto;
  padding: 1rem 1rem 0;
  margin: 0 auto;
  text-align: right;
}

nav > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

nav h1, nav p {
  color: #fff;
  margin: 0.5rem 0;
}