
article {
  position: relative;
  background-color: transparent;
  color: var(--accentColor);
  border: solid #FFFFFF7A 0.1rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 1rem;
  padding: 0.4rem;
  text-decoration: none;
  /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article h3 {
  margin: 0
}

article .player {
  width: 100%;
  margin: 0.5rem 0 0.1rem;
}