ul.socials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul.socials li {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.socials svg, ul.socials svg.svg-inline--fa {
  height: 1rem;
}

ul.socials  a {
  margin: 0 0.75rem;
}