@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main {
    max-width: 675px;
    width: auto;
    margin: 0 auto;
}

main > section {
    margin: 1.5rem 0 1rem;
}

@media screen and (max-width: 700px) {
    nav, main {
        max-width: calc(100vw - 1rem);
    }
    main > section {
        margin: 1.5rem 0.5rem 1rem;
    }
}

main > section p {
    margin: 0.5rem 1rem;
    text-align: justify;
}

.visually-hidden {
    position: absolute;
    top: -50000px;
    left: -50000px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
}

h3 {
    font-size: 1.2rem;
}

h2, h3 {
    text-align: center;
    color: var(--accentColor);
}

p {
    color: var(--accentColor);
}

a, a:visited, a:focus, a:active {
    color: var(--accentColor);
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
